@import '../../styles/variables.scss';

.article-wrapper {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 35px;
  overflow: hidden;
  .article {
    display: flex;
    flex-direction: column;
  }
}

.article-image-link {
  position: relative;
  overflow: hidden;
  display: block;
  height: 140px;
}

.article {
  border: 1px solid $main-border-color;
  box-shadow: $main-box-shadow;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  &:hover {
    .article-image {
      img.content-image {
        opacity: 1;
        width: 115%;
      }
    }
  }
}

.article-title-wrapper {
  padding: 20px 30px 0 30px;
}

.article-teaser {
  margin: 0 30px;
  padding: 0 0 20px;
}

.article-title {
  margin-bottom: 10px;
  margin-top: 0;
}

.article-timestamp {
  font-family: $secondary-font;
  letter-spacing: $secondary-font-letter-spacing;
  font-size: $secondary-font-size;
  font-weight: $secondary-font-weight;
  line-height: $secondary-font-line-height;
  color: $secondary-color;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.article-title-link {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
}
