.article-wrapper {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 35px;
  overflow: hidden;
  .article {
    display: flex;
    flex-direction: column;
  }
}


.article-image {
  img {
    bottom: 0;
    display: block;
    left: 50%;
    width: 100%;
    opacity: .2;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: width .3s, opacity .6s;
  }
}

.article-image-link {
  position: relative;
  overflow: hidden;
  display: block;
  height: 140px;
}

.article {
  background: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  &:hover {
    .article-image {
      img {
        opacity: 1;
        width: 115%;
      }
    }
  }
}

.article-title-wrapper {
  padding: 20px 30px 0 30px;
}

.article-teaser {
  margin: 0 30px;
  padding: 0 0 20px;
}

.article-title {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 600;
}

.article-timestamp {
  margin-bottom: 10px;
  font-family: Helvetica Neue,Helvetica,Arial,"sans-serif";
  letter-spacing: .01em;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 19px;
}

.article-title-link {
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
}
