{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "prettier",
    "react",
    "jsx-a11y",
    "lodash"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "FB": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/no-typos": 0,
    // FIXME need fix to recognize { func, number, array } as valid syntax
    "prefer-destructuring": 0,
    "prefer-promise-reject-errors": 0,
    "react/destructuring-assignment": 0,
    "lodash/chaining": 2,
    "react/jsx-no-bind": [0, {}],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "memo",
          "result"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "onClick",
          "to",
          "hrefLeft",
          "hrefRight"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.prod.babel.js"
      }
    }
  }
}
