@import "app/styles/variables.scss";

.blog-article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 60px;

  a {
    text-decoration: underline;
    color: $active-link-color;
  }

  .blog-article-content {
    margin-bottom: 60px;
  }

  .comment-form-header {
    border: 0;
    margin-bottom: 0;
  }
}
