.blog-title-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  .blog-page-title {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
  }
}

.blog-title-header {
  border-top: 1px solid black;
}

.blog {
  border-top: 1px solid black;
  background: #fcfcfc;
}
