@import 'app/styles/variables.scss';

.trending-articles {
  .header {
    font-family: $secondary-font;
    letter-spacing: $secondary-font-letter-spacing;
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
    line-height: $secondary-font-line-height;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .content {
    background: $secondary-background-color;
    box-shadow: $main-box-shadow;
    border: 1px solid $main-border-color;

    .trending-articles-link {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-basis: 100%;
      border-bottom: 1px solid $secondary-border-color;
      .image {
        flex-shrink: 0;
        width: 75px;
        min-height: 110px;
        display: block;
        overflow: hidden;
        position: relative;
      }
      .trending-articles-desciption {
        font-family: $secondary-font;
        font-size: $font-size-sm;
        line-height: $font-size-sm-line-height;
        padding: 10px 20px 10px 15px;
      }
      &:hover {
        .image {
          img.content-image {
            opacity: 1;
            width: 550%;
          }
        }
      }
    }
  }
}
