.blog-articles {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  .blog-articles-list {
    margin: 0 10px;
    flex-grow: 1;
  }
  .blog-articles-sidebar {
    flex-basis: 250px;
    flex-shrink: 0;
    margin: 0 10px;
    display: flex;
  }
}
