.get-in-touch {
  margin-bottom: 35px;
  .header {
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .content {
    .icons {
      display: flex;
      margin-left: -5px;
      .icon {
        margin: 0 5px;
        opacity: 0.4;
        &:hover {
          opacity: 1;
          transition: opacity 0.5s ease-out;
        }
      }
    }
  }
}
